body {
    background-color: #FFFFFF;
}

#menu ul {
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    color: #696969;
}

h1 {
    margin-top: -45px;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}

h2 {
    position: absolute;
    margin-top: -220px;
    margin-left: 10%;
}

h3 {
    position: absolute;
    margin-top: -580px;
    margin-left: 1%;
    border: 2px;
    border-style: none;
    width: 70%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.empregadores {
    position: absolute;
    margin-top: -450px;
    font-size: 16px;
}

.empregadores hd {
    font-weight: bold;
    font-size: 20px;
}

.instituicoes {
    position: absolute;
    margin-top: -450px;
    padding-left: 45%;
    font-size: 16px;
}

.instituicoes hd {
    font-weight: bold;
    font-size: 20px;
}

#resiliencia {
    position: absolute;
    text-align: center;
    background-color: #4ABDAC;
    margin-top: -170px;
    border: 2px;
    border-style: solid;
    width: 15%;
    height: 120px;
    padding: 10px;
    margin-left: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

#respeito {
    position: absolute;
    text-align: center;
    background-color: #FC4A1A;
    margin-top: -170px;
    border: 2px;
    border-style: solid;
    width: 15%;
    height: 85px;
    padding: 10px;
    margin-left: 27.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

#persistencia {
    position: absolute;
    text-align: center;
    background-color: #F7B733;
    margin-top: -170px;
    border: 2px;
    border-style: solid;
    width: 15%;
    height: 120px;
    padding: 10px;
    margin-left: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.main img {
    width: 100%;
    height: 580px;
    position: relative;
}